.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 8%;
  height: 100%;
  font-family: "Overpass", sans-serif;  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../../assets/img/background-img.png") 110% 90% no-repeat;
  }

  .section {
    width: 47%;
    z-index: 20;

    .title {
      font-size: 38px;
      color: #4a4a4a;
      font-family: inherit;
    }

    .small-text {
      margin-top: 5%;
      color: #454545;
      font-size: 12px;
      font-weight: 500;
      font-family: inherit;
    }

    .text {
      margin-top: 5%;
      line-height: 20px;
      font-family: inherit;
      font-weight: 500;
      color: #454545;

      font-size: 13px;
    }
  }

  .auth-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  }

  .auth-title {
    font-size: 18px;
    font-family: inherit;
    color: #4a4a4a;
  }

  .auth-text {
    text-align: center;
    font-family: inherit;
    color: #a88bcc;
    font-size: 12px;
    font-weight: 400;
  }

  .auth-section {
    height: 100%;
    padding: 7% 5%;
  }

  .register-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    background-color: #fff;

    .auth-text {
      margin-top: 100%;
      font-family: inherit;
    }
  }

  .login-section {
    width: 68%;
    background-color: #51189a;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

    .auth-title {
      color: #fff;
      font-family: inherit;
    }

    .login-form {
      margin-top: 5%;
      display: flex;
      flex-direction: column;

      .form-item {
        margin-top: 5%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .form-title {
          color: rgb(248, 248, 248);
          font-family: inherit;
          font-size: 12px;
        }

        .form-input {
          margin-left: 10px;
          width: 100%;
          outline: none;
          border: none;
          background-color: rgba(255, 255, 255, 0);
          border-bottom: 1px solid #fff;
        }

        &:first-child {
          margin-top: 0%;
        }
      }
    }

    .login-section-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80%;

      .btn-container {
        margin-top: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .form-link {
          color: #a88bcc;
          font-family: inherit;
          font-size: 12px;
        }

        .login-btn {
          outline: none;
          border: none;
          background-color: #00b6ff;
          text-transform: uppercase;
          font-family: inherit;
          color: #fff;
          padding: 2% 6%;
        }
      }
    }
  }
}
