<app-header></app-header>
<div class="container">
  <section class="section">
    <h1 class="title">Already a parthner?</h1>
    <p class="small-text">
      Welcome back! Please login to access all the benefits that come with being
      a parthner.
    </p>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, porro. Ipsam
      ullam voluptatum tempora, deserunt commodi earum animi, placeat, quas
      quisquam nobis sequi corporis eius optio vel quis sint expedita?
    </p>
  </section>
  <section class="section">
    <div class="auth-container">
      <section class="register-section auth-section">
        <h4 class="auth-title">
          Register
        </h4>
        <p class="auth-text">Become partner.</p>
      </section>
      <section class="login-section auth-section">
        <h4 class="auth-title">
          Sign in.
        </h4>
        <div class="login-section-content">
          <form class="login-form">
            <label class="form-item">
              <span class="form-title">Email</span>
              <input type="email" class="form-input">
            </label>
            <label class="form-item">
              <span class="form-title">Password</span>
              <input type="password" class="form-input">
            </label>
          </form>
          <div class="btn-container">
            <a class="form-link">Forgot password?</a>
            <button class="login-btn">Log in</button>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
